---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";

//Project Components
import PersonalWebsite from "../components/PersonalWebsite.astro";
import DiscordScraper from "../components/DiscordScraper.astro";
import Mazesolver from "../components/MazeSolver.astro";
import DroidInventoryManager from "../components/DroidInventoryManager.astro";
import ComputerAccessoriesOrderForm from "../components/ComputerAccessoriesOrderForm.astro";
import SlotMachines from "../components/SlotMachines.astro";
import GunGame from "../components/GunGame.astro";
---

<Layout title="Developer Portfolio">
  <div id="contents">
    <main class="container">
      <div class="mb-16">
        <Heading />
        <p
          class="mt-4 text-lg text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
        As a computer science student with a fervent desire to embark on a career as a software engineer, I am fueled by a profound curiosity for the intricacies of coding and software development. Through my academic journey, I've delved into the fundamentals of algorithms, data structures, and software design, laying a solid foundation for my aspirations. I am captivated by the prospect of leveraging technology to create impactful solutions that address real-world problems. With a keen eye for detail and a thirst for knowledge, I eagerly embrace challenges and continuously seek to expand my skill set. As I navigate the exciting path toward becoming a software engineer, I am committed to honing my craft and contributing meaningfully to the ever-evolving landscape of technology.
        </p>
      </div>
      <div class="mb-16">
        <h2
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
        >
          Skills
        </h2>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          C#
        </p>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          Python
        </p>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          HTML
        </p>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          Docker
        </p>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          Networking
        </p>
      </div>
      <div class="mb-16">
        <h2
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
        >
          Education
        </h2>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          BS Computer Science (2025) - Davenport
        </p>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          AS Computer Information Science (2020) - KVCC
        </p>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          Computer Networking Certificate (2020) - KVCC
        </p>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          TestOut PC Pro
        </p>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          TestOut Windows Server Pro
        </p>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          TestOut Networking Pro
        </p>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400"></p>
          TestOut Security Pro
        </p>
      </div>
      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2"
      >
        My Projects
      </h2>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="">
          <Card
            title="Personal Webite"
            body="I created my personal website using Astro as a static template engine, customizing it to fit my project's needs with HTML and CSS."
            tags="C#, HTML, Astro, CSS, Javascipt, Python"
            github="https://github.com/flett044/flett044.github.io"
          >
            <PersonalWebsite />
          </Card>
        </div>
        <div class="">
          <Card
            title="Recursive Maze Solver"
            body="I developed a straightforward maze solver employing recursion to navigate through a maze stored as an array. Additionally, the program transposes the maze across the Y-axis and solves it again."
            tags="C#"
            github="https://github.com/flett044/Maze-Solver"
          >
            <Mazesolver />
          </Card>
        </div>
        <div class="">
          <Card
            title="Garry's Mod Gamemode"
            body=
            "I crafted this game mode using GLUA, marking my debut in the realm of game engines. Transforming my vision into reality proved to be quite the challenge, but a rewarding one at that."
            tags="GLUA"
          >
            <GunGame />
          </Card>
        </div>
        <div class="">
          <Card
            title="Discord Scraper"
            body="I developed a straightforward Discord scraper using Python. Leveraging the 'requests' library, I fetched data from the Discord API, subsequently employing a JSON library to store the data for future reference. The graphical user interface (GUI) aspect was implemented using tkinter. This project served as a proof of concept."
            tags="C#"
            github="https://github.com/flett044/DiscordScraper"
          >
            <DiscordScraper />
          </Card>
        </div>
        <div class="">
          <Card
            title="Droid Inventory Manager"
            body="I engineered a droid manager inventory system in C#. Employing a bucket sort method, I organized the droids by model, while a customized merge sort algorithm facilitated sorting by total cost. To ensure accuracy, I implemented unit tests to verify the correct sorting and addition of droids to the array."
            tags="C#"
            github="https://github.com/flett044/Droid-Manager"
          >
            <DroidInventoryManager />
          </Card>
        </div>
        <div class="">
          <Card
            title="Computer Accessories Order Form"
            body="I designed a basic order form for computer parts using C#. Utilizing multi-level accumulation, the program calculates totals for management to review at a later time."
            tags="C#"
            github="https://github.com/flett044/Computer-Accessories-Order-Form"
          >
            <ComputerAccessoriesOrderForm />
          </Card>
        </div>
        <div class="">
          <Card
            title="Slot Machines"
            body="I crafted a slot machine game using C#. This application enables players to add their profile, set their bet amount, and specify the number of spins. It tracks total wins and the overall amount won, with results saved to a file. Additionally, previous results can be retrieved from a file if needed."
            tags="C#"
            github="https://github.com/flett044/Slot-Machine-Game"
          >
            <SlotMachines />
          </Card>
        </div>
      </div>
    </main>
  </div>
</Layout>

<style is:global>
  main {
    margin: auto;
    padding: 0.75rem;
    width: 1100px;
    max-width: 100%;
    color: white;
    line-height: 1.6;
  }
  .project-image {
    max-width: 100% !important;
    overflow: hidden;
  }
  .project-cards {
  }
  .video-wrapper {
    background: #111111;
    padding: calc(1.5rem - 1px);
    line-height: 1.4;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  .project-column > div {
    max-width: 100%;
    overflow: hidden;
  }
  .projects-alt > li {
    gap: 1rem !important;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    font-size: 2.75rem;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    gap: 0;
    padding: 0;
  }
  .read-more {
    color: #fff;
  }
  details {
    position: relative;
    top: -1px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    max-width: 900px;
  }
  details > div {
    max-width: 830px;
  }

  summary:hover {
    cursor: pointer;
  }
</style>

<script></script>
