---
import { Image } from 'astro:assets';
import python from '../assets/mazesolver.png'
---

<div>
  <Image
    class="project-image border  border-black"
    src={python}
    alt="screen shot mazesolver program"
    densities={[1, 2, 3]} 
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>